/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
/* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */

	background-attachment: fixed;
	background-size:cover;
	margin: 0;
}

#container{
	background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
	box-shadow: 0 15px 30px 1px rgba(5, 238, 24, 0.31);
	text-align: center;
	border-radius: 10px;
	margin: 3em auto;
	background: rgba(255, 255, 255, 0.95);
	height: 520px;
	width: 480px;
	padding: 1em;
	
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;	
}

#container h2 {
	background-color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
/* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
	font-family: 'Playfair Display', serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	letter-spacing: 2px;
	font-size: 1.7em;
	margin: 0;
	
}

#container p {
	font-family: 'Farsan', cursive;
	margin: 3px 0 1.5em 0;
	font-size: 1.3em;
	color: #0fa32f;
}

#container input {
/* 	background: rgba(255, 13, 254, 0.90); */
	width: 210px;
	display: inline-block;
	text-align: center;
	border-radius: 7px;
	background: #eee;
	padding: 1em 2em;
	outline: none;
	border: none;
	color: #222;
	transition: 0.3s linear;
}

::placeholder{color: #999;}
#container input:focus {background: rgba(0, 0, 333, 0.10);}

#container button {
	background-image: linear-gradient(to left, rgba(123, 211, 65, 0.75) 0%, rgba(8, 133, 14, 0.86) 100%);
	box-shadow: 0 9px 25px -5px #df91fb;
	font-family: 'Abel', sans-serif;
	padding: 0.5em 1.9em;
	margin: 2.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
	transition: 0.3s linear;

}
#container button:hover{transform: translatey(2px);}
#container button:active{transform: translatey(5px);}




/*------------------------------------Estilos registrar usuario--------------------------------- */
#containe{
	background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
	box-shadow: 0 15px 30px 1px rgba(5, 238, 24, 0.31);
	text-align: center;
	border-radius: 10px;
	margin: 3em auto;
	background: rgba(255, 255, 255, 0.95);
	height: 430px;
	width: 480px;
	padding: 1em;	
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;		
}

#containe h3 {
	background-color: black;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
/* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
	font-family: 'Playfair Display', serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	letter-spacing: 2px;
	font-size: 1.7em;
	margin: 0;	
}

#containe p {
	font-family: 'Farsan', cursive;
	margin: 3px 0 1.5em 0;
	font-size: 1.3em;
	color: #0fa32f;
}

#containe input {
    /* 	background: rgba(255, 13, 254, 0.90); */
        width: 210px;
        display: inline-block;
        text-align: center;
        border-radius: 7px;
        background: #eee;
        padding: 1em 2em;
        outline: none;
        border: none;
        color: #222;
        transition: 0.3s linear;
    }
    
    ::placeholder{color: #999;}
    #containe input:focus {background: rgba(0, 0, 333, 0.10);}
    
    #containe button {
        background-image: linear-gradient(to left, rgba(123, 211, 65, 0.75) 0%, rgba(8, 133, 14, 0.86) 100%);
        box-shadow: 0 9px 25px -5px #df91fb;
        font-family: 'Abel', sans-serif;
        padding: 0.5em 1.9em;
        margin: 2.3em 0 0 0;
        border-radius: 7px;
        font-size: 1.4em;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 1em;
        outline: none;
        border: none;
        transition: 0.3s linear;
    
    }
    #containe button:hover{transform: translatey(2px);}
    #containe button:active{transform: translatey(5px);}






	/*------------------------------------Estilos Modificar Pino--------------------------------- */
#containe1{
	background-image: linear-gradient(to top, rgba(205, 156, 242, 0.40) 0%, rgba(246, 255, 255, 0.71) 100%);
	box-shadow: 0 15px 30px 1px rgba(5, 238, 24, 0.31);
	text-align: center;
	border-radius: 10px;
	margin: 3em auto;
	background: rgba(255, 255, 255, 0.95);
	height: 520px;
	width: 480px;
	padding: 1em;	
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;		
}

#containe1 h3 {
	background-color: black;

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
/* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
	font-family: 'Playfair Display', serif;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	letter-spacing: 2px;
	font-size: 2.5em;
	margin: 0;	
}

#containe1 p {
	font-family: 'Farsan', cursive;
	margin: 3px 0 1.5em 0;
	font-size: 1.3em;
	color: #0fa32f;
}

#containe1 input {
    /* 	background: rgba(255, 13, 254, 0.90); */
        width: 210px;
        display: inline-block;
        text-align: center;
        border-radius: 7px;
        background: #eee;
        padding: 1em 2em;
        outline: none;
        border: none;
        color: #222;
        transition: 0.3s linear;
    }
    
    ::placeholder{color: #999;}
    #containe1 input:focus {background: rgba(0, 0, 333, 0.10);}
    
    #containe1 button {
        background-image: linear-gradient(to left, rgba(123, 211, 65, 0.75) 0%, rgba(8, 133, 14, 0.86) 100%);
        box-shadow: 0 9px 25px -5px #df91fb;
        font-family: 'Abel', sans-serif;
        padding: 0.5em 1.9em;
        margin: 2.3em 0 0 0;
        border-radius: 7px;
        font-size: 1.4em;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 1em;
        outline: none;
        border: none;
        transition: 0.3s linear;
    
    }
    #containe1 button:hover{transform: translatey(2px);}
    #containe1 button:active{transform: translatey(5px);}